<% unless @cocktail.photo.blank? %>
  <section
    class="hero--sm"
    style="background-image: url('<%= cl_image_path @cocktail.photo %>')">
  </section>
<% end %>
<section class="my-1">
  <div class="container">
    <%= render 'shared/back' %>
    <h2><%= @cocktail.name %></h2>
    <p><%= @cocktail.description %></p>
    <br>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card py-3 px-3 my-3">
          <h4>Ingredients</h4>
          <%= render 'cocktails/ingredients', cocktail: @cocktail %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-4">
        <div class="card py-3 px-3 my-3">
          <h4>Add ingredients</h4>
          <%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card py-3 px-3 my-3">
          <h4>Reviews</h4>
          <%= render 'cocktails/reviews', cocktail: @cocktail %>
          <%= render 'reviews/new', cocktail: @cocktail, review: @review %>
        </div>
      </div>
    </div>
  </div>
</section>