<%= form_for [cocktail, review] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rating %>
    <%= f.select :rating, (1..5).to_a, {},  class: 'form-control' %>
  </div>
  <%= f.submit 'Add a review', class: 'btn btn-primary' %>
<% end %>
